.workexperience-container {
  margin-top: 10rem;
}

.work-title {
  margin: 0;
  font-size: clamp(4rem, 10vw, 8rem);
  font-weight: 800;
  margin-bottom: 1rem;
  margin-left: 12rem;
}

.job-title-description-container {
  position: relative;
  height: 50rem;
  width: 50rem;
}

.content-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.work-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.job-title-container {
  position: absolute;
  height: 8rem;
  width: 40rem;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0rem 0rem 0rem 1rem;
  line-height: 1.2rem;
  background: rgba(70, 71, 71, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.212);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgba(85, 81, 81, 0.185);
}

.job-description-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45rem;
  height: 44rem;
  border-radius: 1rem;
  font-size: 1.5rem;
}

.job-description {
  margin-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.work-box-container {
  position: relative;
  width: 30rem;
  height: 7rem;
  border-radius: 0.7rem;
  border-width: 3px;
  border-style: solid;
  padding: 0.1rem 1rem 0rem 1rem;
  cursor: pointer;
}

.work-box-pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

.work-box-info-container {
  position: relative;
  line-height: 0.8rem;
  font-weight: 600;
  font-size: 1.5rem;
  z-index: 20;
}

.work-box-months {
  width: 13rem;
  height: 3rem;
  position: absolute;
  z-index: 30;
  top: -20px;
  right: -10px;
  border-radius: 1rem;
  color: #141414;
  font-size: 1.3rem;
  font-weight: 800;
  line-height: 0.4rem;
}

@media (max-width: 1300px) {
  .work-title {
    margin-left: 1rem;
  }
}

@media (max-width: 1150px) {
  .job-title-description-container {
    width: 40rem;
    height: 44rem;
  }

  .job-description-container {
    width: 39rem;
    height: 39rem;
    font-size: 1.3rem;
  }

  .job-title-container {
    width: 35rem;
    height: 7rem;
    font-size: 1.5rem;
  }

  .work-box-container {
    width: 25rem;
    height: 6rem;
  }

  .work-box-info-container {
    font-size: 1.3rem;
  }

  .work-box-months {
    width: 10rem;
    height: 2.3rem;
    font-size: 1.2rem;
    line-height: 0rem;
  }
}

@media (max-width: 930px) {
  .content-container {
    flex-direction: column;
  }

  .work-buttons-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
  }

  .work-box-container {
    width: 18rem;
    height: 7rem;
    padding: 0rem 0.5rem 0rem 1rem;
  }

  .work-box-info-container {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }

  .work-box-months {
    width: 10rem;
    height: 2.3rem;
    font-size: 1.2rem;
    line-height: 0rem;
  }
}

@media (max-width: 850px) {
  .workexperience-container {
    margin-top: 0rem;
  }
}

@media (max-width: 570px) {
  .work-buttons-container {
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 2rem;
  }

  .job-title-description-container {
    width: 26rem;
    height: 39rem;
  }

  .job-description-container {
    width: 26rem;
    height: 35rem;
    font-size: 1.2rem;
  }

  .job-title-container {
    width: 25rem;
    height: 5.5rem;
    font-size: 1.3rem;
    line-height: 0.8rem;
  }

  .work-box-container {
    width: 17rem;
    height: 6rem;
  }

  .work-box-info-container {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .work-box-months {
    width: 10rem;
    height: 2.2rem;
    font-size: 1rem;
    line-height: 0.2rem;
  }
}
