.grid-container {
  height: 30rem;
  overflow: hidden;
}

.img-socials {
  cursor: pointer;
  pointer-events: all;
  transition: transform 0.4s ease;
}

.img-socials:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.desc {
  bottom: 29%;
}

@media (max-width: 1250px) {
  .grid-container {
    height: 24rem;
  }

  .desc {
    bottom: 20%;
  }
}

@media (max-width: 860px) {
  .grid-container {
    height: 16rem;
  }
}
